# Hidden from IDE's and the likes
.idea
.tmp
.sass-cache
.anvil
.env
compass_app_log.txt
atlassian-ide-plugin.xml

# NPM installs
node_modules*
npm-debug.log

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.sublime-workspace

# Build
*.css
docs